.productsContainer {
    display: flex; 
    justify-content: space-between; 
    gap: 80px; 
    flex-wrap: wrap; 

}

.container {
    width: 670px; 
    flex: 1; 
    margin-bottom: 20px; 
}

.head {
    height: 90px;
}

.info {
    padding: 13px;
}

.info .img {
    text-align: center;
    margin-top: -90px;
}

.info .img img {
    width: 100%;
    height: auto;
}

.info .catName {
    font-weight: 500;
    font-size: 8px;
    color: #1B1B1B;
}

.info .name {
    font-weight: 700;
    font-size: 15px;
    color: #1B1B1B;
    text-decoration: none;
}

.info .price {
    font-weight: 600;
    font-size: 15px;

}


