/*.container {
    display: block;
    background: #FFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
}*/
.head {
    height: 90px;
}

.info {
    padding: 13px;
}

.info .img {
    text-align: center;
    margin-top: -90px;
}

.info .img img {
    width: 100%;
    height: auto;
}

.info .catName {
    font-weight: 500;
    font-size: 8px;
    color: #1B1B1B;
}

.info .name {
    font-weight: 700;
    font-size: 15px;
    color: #1B1B1B;
    text-decoration: none;
}

.info .price {
    font-weight: 600;
    font-size: 15px;

}

.productsContainer {
    display: flex; /* Ativa o layout flexbox */
    justify-content: space-between; /* Coloca espaço entre os cupcakes */
    gap: space-between; /* Define o espaço entre os cupcakes (caso não queira usar `space-between`) */
    flex-wrap: wrap; /* Permite que os cupcakes quebrem a linha se não couberem */

}

.container {
    width: 700px; /* Define uma largura fixa para cada cupcake */
    flex: 1; /* Faz com que os cupcakes ocupem o mesmo espaço dentro do flexbox */
    margin-bottom: 20px; /* Espaçamento inferior entre as linhas de cupcakes */
}

